@import url('https://fonts.googleapis.com/css?family=Raleway|Shadows+Into+Light&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root, .App, .App_main {
  height: 100%;
  background: #b92b27;
  background: -webkit-linear-gradient(to right, #b92b27, #1565c0);
  background: linear-gradient(to right, #b92b27, #1565c0);
}